extends ../../../layout

block title
	title= 'РЕДАКТИРОВАТЬ РАЗДЕЛ: ' + content.ru.title.toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/schedule.js')
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title= content.ru.title.toUpperCase()
		.nav_project_children
		br
		b.nav_settings_title настройки
		//- .draft черновик
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ

block content
	.form_block
		a.back_link(href='/auth/edit/content') < Назад
		.title РЕДАКТИРОВАТЬ РАЗДЕЛ
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Название:
			input.ru(type="text", name="ru[title]", value=content.ru.title)
			input.en(type="text", name="en[title]", disabled)
			.form_title Псевдоним:
			input(type="text", name="alias", value=content.alias)