extends ../layout

block paths
	- var title = 'ЦИМ | РЕЗИДЕНТЫ'
	- var menu_cim = ' / резиденты'

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/members.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/members.js' + version)


mixin membersColumn(letter)
	.members_column
		.c_title= letter
		each member in members
			- var name = member.ru.name.split(' ')
			name = name[1] ? name[1] : name[0]
			if name.charAt(0).toUpperCase() == letter
				a.member(href='/member/' + member._id, class=member.status)= member.ru.name


block content
	.title РЕЗИДЕНТЫ
	.members_search_block
		.member_search_title НАЙТИ:
		input.member_search(type='text', autofocus, )
		.categorys
			.category.director Режиссер
			.category.actor Актер
			.category.author Автор
			.category.playwright Драматург
			.category.composer Композитор
			.category.lecturer Лектор
			.category.curator Куратор
			.category.artist Художник
			.category.choreographer Хореограф
			.category.audio_director Звукорежиссер
			.all Еще...
			.category.hide.photographer Фотограф
			.category.hide.light_artist Художник по свету
			.category.hide.producer Продюсер
			.category.hide.theoretician Теоретик
			.category.hide.art_director Художественный руководитель
			.category.hide.sub_director Помощник режисера
			.category.hide.tech_director Технический директор
			.category.hide.video_artist Видеохудожник
			.category.hide.multi_artist Мультимедиахудожник
			.category.hide.scenographer Сценограф
			.category.hide.consultant Консультант
			.category.hide.effects Спецэффекты
	.members_groups_block
		.members_group
			+membersColumn('А')
			+membersColumn('Б')
			+membersColumn('В')
			+membersColumn('Г')
			+membersColumn('Д')
		.members_group
			+membersColumn('Е')
			+membersColumn('Ё')
			+membersColumn('Ж')
			+membersColumn('З')
			+membersColumn('И')
		.members_group
			+membersColumn('Й')
			+membersColumn('К')
			+membersColumn('Л')
			+membersColumn('М')
			+membersColumn('Н')
		.members_group
			+membersColumn('О')
			+membersColumn('П')
			+membersColumn('Р')
			+membersColumn('С')
			+membersColumn('Т')
		.members_group
			+membersColumn('У')
			+membersColumn('Ф')
			+membersColumn('Х')
			+membersColumn('Ц')
			+membersColumn('Ч')
		.members_group
			+membersColumn('Ш')
			+membersColumn('Щ')
			+membersColumn('Э')
			+membersColumn('Ю')
			+membersColumn('Я')
