extends ../layout

block paths
	- var title = 'ЦИМ | УЧАСТНИКИ'
	- var menu_cim = ' / участники'

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/members.css')

block content_scripts
	script(type='text/javascript', src='/scripts/members.js')


mixin membersColumn(status, title)
	.members_column
		.c_title(class=status)= title
		each member in members.sort(function(a, b) {var srt = a.ru.name.toLowerCase() > b.ru.name.toLowerCase() ? 1 : -1; return srt})
			each st in member.status
				if st == status
					a.member(href='/members/' + member._id, class=member._id)= member.ru.name


block content
	.title НАШИ УЧАСТНИКИ
	.members_search_block
		.member_search_title НАЙТИ:
		input.member_search(type='text', autofocus, )
		.alphabet А Б В Г Д Е Ж З И Й К Л М Н О П Р С Т У Ф Х Ц Ч Щ Ь Ъ Э Ю Я
	.members_groups_block
		.members_group
			+membersColumn('director', 'Режиссеры')
			+membersColumn('actor', 'Актеры')
			+membersColumn('photographer', 'Фотографы')
			+membersColumn('producer', 'Продюсеры')
		.members_group
			+membersColumn('artist', 'Художники')
			+membersColumn('composer',  'Композиторы')
			+membersColumn('choreographer', 'Хореографы')
			+membersColumn('playwright', 'Драматурги')
		.members_group
			+membersColumn('artist', 'Художники')
			+membersColumn('composer',  'Композиторы')
			+membersColumn('choreographer', 'Хореографы')
			+membersColumn('playwright', 'Драматурги')
		.members_group
			+membersColumn('artist', 'Художники')
			+membersColumn('composer',  'Композиторы')
			+membersColumn('choreographer', 'Хореографы')
			+membersColumn('playwright', 'Драматурги')
		.members_group
			+membersColumn('artist', 'Художники')
			+membersColumn('composer',  'Композиторы')
			+membersColumn('choreographer', 'Хореографы')
			+membersColumn('playwright', 'Драматурги')
	.members_groups_block.actors
		+membersColumn('actor', 'Актеры')
