extends ../layout

block paths
	- var title = 'ЦИМ | УЧАСТНИКИ'
	- var menu_cim = ' / участники'

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/members.css')

block content_scripts
	script(type='text/javascript', src='/scripts/members.js')


mixin membersColumn(letter)
	.members_column
		.c_title= letter
		each member in members.sort(function(a, b) {var srt = a.ru.name.toLowerCase() > b.ru.name.toLowerCase() ? 1 : -1; return srt})
			if member.ru.name.charAt(0) == letter
				a.member(href='/members/' + member._id, class=member.status)= member.ru.name


block content
	.title НАШИ УЧАСТНИКИ
	.members_search_block
		.member_search_title НАЙТИ:
		input.member_search(type='text', autofocus, )
		.alphabet А Б В Г Д Е Ж З И Й К Л М Н О П Р С Т У Ф Х Ц Ч Щ Ь Ъ Э Ю Я
	.members_groups_block
		.members_group
			+membersColumn('А')
			+membersColumn('Б')
			+membersColumn('В')
			+membersColumn('Г')
		.members_group
			+membersColumn('Д')
			+membersColumn('Е')
			+membersColumn('Ё')
			+membersColumn('Ж')
		.members_group
			+membersColumn('З')
			+membersColumn('И')
			+membersColumn('Й')
			+membersColumn('К')
		.members_group
			+membersColumn('Л')
			+membersColumn('М')
			+membersColumn('Н')
			+membersColumn('О')
		.members_group
			+membersColumn('П')
			+membersColumn('Р')
			+membersColumn('С')
			+membersColumn('Т')
	.members_groups_block.actors
		+membersColumn('Категории', 'Категории')
