extends ../layout

block paths
	- var title = 'ЦИМ | УЧАСТНИКИ'
	- var menu_cim = ' / участники'

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/members.css')

block content_scripts
	script(type='text/javascript', src='/scripts/members.js')


mixin membersColumn(status, title)
	.c_title(class=status)= title
	each member in members
		each st in member.status
			if st == status
				a.member(href='/members/' + member._id, class=member._id)= member.ru.name


block content
	.member_search_title НАЙТИ:
	input.member_search(type='text', autofocus, )
	//- .member_search(contenteditable='true', placeholder='ПОИСК...')
	.title ЛЮБИМ И ГОРДИМСЯ
	br
	br
	//- br
	//- .alphabet категории / алфавит -  А Б В Г Д Е Ё Ж З И Й К Л М Н О П Р С Т У Ф Х Ц Ч Щ Ш Ь Ъ Э Ю Я
	//- br
	.members_group
		.members_column
				+membersColumn('director', 'Режиссеры')
		.members_column
				+membersColumn('actor', 'Актеры')
		.members_column
				+membersColumn('photographer', 'Фотографы')
		.members_column
				+membersColumn('curator', 'Кураторы')
	.members_group
		.members_column
				+membersColumn('artist', 'Художники')
		.members_column
				+membersColumn('composer',  'Композиторы')
		.members_column
				+membersColumn('choreographer', 'Хореографы')
		.members_column
				+membersColumn('playwright', 'Драматурги')