extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/news.css')

block content_scripts
	script(type='text/javascript', src='/scripts/main.js')
	//- script(type='text/javascript', src='/scripts/masonry.pkgd.min.js')

block content_right

block content
	h2= member.ru.name
	h3= member.ru.description
	b События:
	br
	br
	each event in events
		!= event.ru.title
		br
		br