extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add_member.css')

block content
	h2 Звездочет
	br
	a(href='/logout') Выход
	br
	br
	br
	br
	a(href='/auth/add/news') Добавить новость
	br
	br
	a(href='/auth/add/event') Конструктор событий
	br
	br
	a(href='/auth/add/member') Добавить участника
	br
	br
	a(href='/auth/add/schedule') Расписание
	br
	br