extends ../layout

block title
	title РАСПИСАНИЕ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')
	link(rel='stylesheet', type='text/css', href='/styles/pickmeup.min.css')
	link(rel='stylesheet', type='text/css', href='/styles/schedule.css')

block content_scripts
	script(type='text/javascript', src='/scripts/jquery.pickmeup.min.js')
	script(type='text/javascript', src='/scripts/schedule.js')

block content_right
	.connect_banner
		.connect_banner_title Сбой соединения
		button.connect_reload Обновить страницу

block content
	.schedule_nav
		a(href='/auth') < Назад
		.schedule_now Сегодня
	.calendar
	-	var now = new Date()
	.schedule_title
	.events

	button.event_add Добавить
	span.event_options
		button.event_del Удалить
		button.event_edit Сохранить
		button.event_transfer Перенести

	.new_event
		button.event_add_submit Добавить
		button.event_add_cancel отмена
		select.new_event_hours
			option(value='') Часы
			- for (var i = 23; i >= 0; i--)
				option(value=i,)= i
		select.new_event_minutes
			option(value='') Минуты
			- for (var i = 0; i <= 50; i += 10)
				- var mm = (i == 0 ? '00' : i)
				option(value=i, )= mm
		label
			input.new_event_banner(type='checkbox', value='true')
			span баннер
		label
			input.new_event_premiere(type='checkbox', value='true')
			span премьера
		select.new_event_id
			option(value='') -- События
			each event in events
				option(value=event._id)= event.ru.title.length <= 38 ? event.ru.title : event.ru.title.slice(0, 38) + '...'