extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css')

block content_scripts
	script(type='text/javascript', src='/scripts/main.js')
	script(type='text/javascript', src='/scripts/masonry.pkgd.min.js')

block content_right

block content
	h1 Afisha!
	each date in schedule
		b= date.date.getDate() + '.' + date.date.getMonth()
		br
		each event in date.events
			b= event.time.hours + ':' + event.time.minutes + ' ' + event.event.ru.title + ' ' + event.event.ru.s_title
			br
		br