extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title РАСПИСАНИЕ
		br
		b.form_submit ОТПРАВИТЬ	
	

block content
	.form_block
		h2 Расписание
		br
		a(href='/auth/') назад
		br
		br
		a(href='/auth/add/schedule/2013') 2013
		br
		br
		a(href='/auth/add/schedule/2014') 2014