doctype 5
html
	head
		include header
	body
		.maket
			.main_block
				.header_block
					//- .line_block
					a(href='/')
						.head_title_block ЦЕНТР ИМЕНИ ВС. МЕЙЕРХОЛЬДА
					.menu_block
						a.pay(href='http://bigbilet.ru/company/card?id=A88F2473BE633D61E040115529B0081A#_', target='_blank') БИЛЕТЫ ON-line
						.menu_item
							.menu_item_title афиша
							.menu_item_arrow ▼
							.menu_drop
								- var months = ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь'];
								- var date = new Date()
								a.menu_link(href='/afisha/current')=  months[date.getMonth()]
								br
								a.menu_link(href='/afisha/next')= months[date.getMonth()+1]
								//- br
								//- a.menu_link(href='/afisha/archive')  архив
						.menu_item
							.menu_item_title цим
							.menu_item_arrow ▼
							.menu_drop
								a.menu_link(href='/') новости
								br
								a.menu_link(href='/now') цим сегодня
								br
								//- a.menu_link(href='/gogo') дирекция
								//- br
								a.menu_link(href='/institute') институт театра
								br
								//- a.menu_link(href='/magistr') магистратура
								//- br
								a.menu_link(href='/halls') площадки
								//- a.menu_link(href='/events') events
								//- br
								//- a.menu_link(href='/auth') авторизация
						//- a.pay(href='#') БИЛЕТЫ ON-line
						//- .locale eng
						//- input.search(type='text')
						//- .search_submit поиск
					//- .head_title_block
						a(href='/')
							.head_logo logo img
				block content_left
				block content_right
				.content_block
					block content
				block content_under
				.footer_block.color
					.footer_logo
					.footer_description.color
						|ЦЕНТР ИМЕНИ ВС. МЕЙЕРХОЛЬДА
						br
						|М. МЕНДЕЛЕЕВСКАЯ
						br
						|УЛ. НОВОСЛОБОДСКАЯ, 23
						br
						a.color(href='/') WWW.MEYERHOLD.RU
						br
						br
						b Художественный руководитель
						br
						|Виктор РЫЖАКОВ
					.footer_column.color
						b Билетный стол
						br
						a.color(href='mailto:b.s.meyerhold@mail.ru') B.S.MEYERHOLD@MAIL.RU
						br
						|(495) 363 10 48 | (926) 313 42 86
						br
						br
						b Канцелярия
						br
						a.color(href='mailto:meyerhold.403@gmail.com') MEYERHOLD.403@GMAIL.COM
						br
						|(495) 363 10 46 | (495) 363 10 41 / факс
					.footer_column.color
						b Пресс-секретарь
						br
						a.color(href='mailto:bamburov.kirill@gmail.com') BAMBUROV.KIRILL@GMAIL.COM
						br
						|(915) 069 91 77
						br
						br
						b Коммерческий отдел
						br
						a.color(href='mailto:meyerhold.408@gmail.com') MEYERHOLD.408@GMAIL.COM
				.social_block
						a(href='https://twitter.com/meyerholdcentre', target='_blank')
							img.social_item(src='/images/design/social/twitter.svg')
						a(href='http://instagram.com/meyerholdcenter', target='_blank')
							img.social_item(src='/images/design/social/instagram.png')
						a(href='https://www.facebook.com/meyerholdcenter', target='_blank')
							img.social_item(src='/images/design/social/facebook.svg')
						a(href='http://vk.com/meyerholdcenter', target='_blank')
							img.social_item(src='/images/design/social/vk.svg')
