doctype 5
html
	head
		include header
	body
		.maket
			.main_block
				.header_block
					//- .line_block
					a(href='/')
						.head_title_block ЦЕНТР ИМЕНИ ВС. МЕЙЕРХОЛЬДА
					.menu_block
						a.pay(href='#') БИЛЕТЫ ON-line
						.menu_item
							.menu_item_title афиша
							.menu_item_arrow ▼
							.menu_drop
								- var months = ['январь', 'февраль', 'март', 'апрель', 'май', 'июнь', 'июль', 'август', 'сентябрь', 'октябрь', 'ноябрь', 'декабрь'];
								- var date = new Date()
								a.menu_link(href='/afisha/current')=  months[date.getMonth()]
								br
								a.menu_link(href='/afisha/next')= months[date.getMonth()+1]
								br
								a.menu_link(href='/afisha/archive')  архив
						.menu_item
							.menu_item_title цим
							.menu_item_arrow ▼
							.menu_drop
								a.menu_link(href='/') новости
								br
								a.menu_link(href='/now') цим сегодня
								br
								//- a.menu_link(href='/gogo') дирекция
								//- br
								a.menu_link(href='/institute') институт театра
								br
								//- a.menu_link(href='/magistr') магистратура
								//- br
								a.menu_link(href='/halls') площадки
								//- a.menu_link(href='/events') events
								//- a.menu_link(href='/event/520b9b699f29934eb500000c') test event
								br
								a.menu_link(href='/auth') авторизация
						//- a.pay(href='#') БИЛЕТЫ ON-line
						//- .locale eng
						//- input.search(type='text')
						//- .search_submit поиск
					//- .head_title_block
						a(href='/')
							.head_logo logo img
				block content_left
				block content_right
				.content_block
					block content
				block content_under
				.footer_block footer