- var version = '?ver=7'

- var days = ['ВС','ПН','ВТ','СР','ЧТ','ПТ','СБ']
- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
- var categorys = {'lecture': 'ЛЕКЦИЯ', 'masterclass': 'МАСТЕР-КЛАСС', 'exhibition': 'ВЫСТАВКА', 'concert': 'КОНЦЕРТ', 'storytallyng': 'СТОРИТЕЛЛИНГ'}
- var hall = {'main': 'большой зал', 'black': 'черный зал', 'white': 'белый зал', 'cafe': 'кафе', 'lobby': 'фойе', '301': 'комната 301', '306': 'комната 306'}