extends ../layout

block content
	h1 Регистрация
	form(action='/registr', method='post')
		|Email:
		br
		input(type='text', name='email', value='john@appleseed.com')
		br		
		|Логин:
		br
		input(type='text', name='login', value='john')
		br
		|Пароль:
		br
		input(type='text', name='password', value='pass')
		br
		br
		input(type='submit', value='Отправить!')