extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title НОВОСТЬ
		br
		b.toggle_eng перевод	
		br
		br
		b.nav_item.one One
		br
		b.nav_item.two Two
		br
		br
		b.form_submit ОТПРАВИТЬ	

block content
	.form_block
		h2 Добавить событие
		form(action="/auth", method="post", enctype="multipart/form-data")
			.form_title Заголовок:
			input.ru(type="text", name="ru[title]")
			input.en(type="text", name="en[title]", disabled)
			.form_title Подзаголовок:
			input.ru(type="text", name="ru[s_title]")
			input.en(type="text", name="en[s_title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[body]", rows="8")
			textarea.en(name="en[body]", rows="8", disabled)
			.form_title Категория:
			select(name='tag')
				option(value='One') Один
				option(value='Two') Два
				option(value='Three') Три
			.form_title Постер:
			input(type="file", name="img1")
			br
			br
			a(href='#').event_convert Событие
			br
			br
			.form_block_event
				.form_title Режисер:
				input.ru(type="text", name="event[ru][director]", disabled)
				input.en(type="text", name="event[en][director]", disabled)
				.form_title Художественный руководитель:
				input.ru(type="text", name="event[ru][art_director]", disabled)
				input.en(type="text", name="event[en][art_director]", disabled)
				br
				br
				.form_title Дата:
				select(name='event[cal][date]')
					option(value='') Дата
					- for (var i=1; i<32; i++)
						option(value=i)= i
				select(name='event[cal][month]')
					option(value='') Месяц
					- var months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
					each month, i in months
						option(value=i)= month
				select(name='event[cal][year]')
					option(value='') Год
					option(value='2013') 2013
					option(value='2014') 2014									
				br
				br	
				a(href='#').project_convert Спецпроект
				br
				.form_block_project
					.children
					br
					a(href='#').add_child добавить
					br
					br
				br