extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content
	h2 Добавить событие
	form(action="/auth", method="post", enctype="multipart/form-data")
		.form_title Заголовок:
		input.ru(type="text", name="ru[title]")
		input.en(type="text", name="en[title]")
		.form_title Подзаголовок:
		input.ru(type="text", name="ru[s_title]")
		input.en(type="text", name="en[s_title]")
		.form_title Описание:
		textarea.ru(name="ru[body]", rows="8")
		textarea.en(name="en[body]", rows="8")	
		br
		br
		|Категория:
		br
		select(name='tag')
			option(value='One') Один
			option(value='Two') Два
			option(value='Three') Три
		br
		br	
		|Постер:
		br
		input(type="file", name="img1")
		br
		br
		b Подсобытия
		br
		.children
		a(href='#').add_child добавить			
		br
		br
		input(type="submit", value="Добавить")