extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css')

block content_scripts
	script(type='text/javascript', src='/scripts/main.js')

block content
	.main_poster_block
		.main_poster_img
		.main_poster_cal
			.cal_ticket
			.cal_date
			.cal_time
			.cal_time_hall
			.cal_title
	.infinite-container
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img	
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img
	.loader Loading...