extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css')

block content_scripts
	script(type='text/javascript', src='/scripts/main.js')

block content_right
	.tag_navigator tags
		br
		b.tag_item One
		b.tag_item Two

block content
	.main_poster_block
		.main_poster_img
		.main_poster_cal
			.cal_ticket ticket
			.cal_date date
			.cal_time_hall time/hall
			.cal_title title
	.infinite-container			
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img	
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img
	.loader