extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/index.css')

block content_scripts
	script(type='text/javascript', src='/scripts/main.js')

block content_right
	.tag_navigator tags
		br
		b.tag_item.one One
		br
		b.tag_item.two Two

block content
	.main_poster_block
		.main_poster_img
		.main_poster_cal
			.cal_ticket ticket
			.cal_date date
			.cal_time_hall time/hall
			.cal_title title
	.infinite-container			
		.infinite-item
			a(href='/event')
				.title title
				.date date
				img.item_img(src='/images/1.jpg')
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img	
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img
		.infinite-item
			.title title
			.date date
			.img img
	.loader