extends ../layout

block paths
	- var title =  'ЦИМ | ЗАГРУЗКА'
	- var menu_cim = ' / загрузка'

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)
	link(rel='stylesheet', type='text/css', href='/styles/upload.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)
	script(type='text/javascript', src='/scripts/jquery.filedrop.js' + version)
	script(type='text/javascript', src='/scripts/upload.js' + version)

block content_right

block content_left

block content
	form(action="/upload", method="post")
		input#upload_button(type='file')
	.photos
		.dropzone dropzone