extends ../../layout

block title
	title ДОБАВИТЬ КОНТЕНТ РАЗДЕЛ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/schedule.js')
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title КОНТЕНТ
		.nav_project_children
		br
		b.nav_settings_title настройки
		//- .draft черновик
		.toggle_eng перевод
		br
		b.form_submit ОТПРАВИТЬ

block content
	.form_block
		a.back_link(href='/auth') < Назад
		.title ДОБАВИТЬ КОНТЕНТ РАЗДЕЛ
		form(action="/auth/add/content", method="post", enctype="multipart/form-data")
			.form_title Название:
			input.ru(type="text", name="ru[title]",)
			input.en(type="text", name="en[title]", disabled)
			.form_title Заголовок:
			input.ru(type="text", name="ru[meta][title]",)
			input.en(type="text", name="en[meta][title]", disabled)
			.form_title Меню:
			input.ru(type="text", name="ru[meta][menu]",)
			input.en(type="text", name="en[meta][menu]", disabled)
			.form_title Псевдоним:
			input(type="text", name="alias",)