extends ../../../layout

block title
	title СПИСОК НОВОСТЕЙ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/lists.js')

block content
	a.back_link(href='/auth') < Назад
	.title СПИСОК НОВОСТЕЙ
	br
	.main_menu_block
		each n in news
			- var d = n.date.getDate()
			- d = d < 10 ? '0' + d : d
			- var m = n.date.getMonth() + 1
			- m = m < 10 ? '0' + m : m
			.news
				a.rm_news(href='#', id=n._id)= 'удалить '
				!=' | '
				b(style=n.date > new Date() ? 'color: red;' : '')= d + '.' + m + '.' + n.date.getFullYear()
				!=' | '
				a(href='/auth/edit/news/' + n._id)= n.ru.title
				b= ' ---> '
				a(href='/news/' + n._id, target='_blank') результат
					br
					br