extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add.js')

block content_right
	.navigator
		.nav_title НОВОСТЬ
		.nav_project_children
		br		
		b.nav_settings_title настройки
		.draft черновик
		.toggle_eng перевод
		br
		.evr  эвристика
		.studies этюды
		br
		b.form_submit ОТПРАВИТЬ	

block content
	.form_block
		h2 Конструктор
		br
		br
		.news_convert НОВОСТЬ
		br
		br
		form(action="/auth/add/event", method="post", enctype="multipart/form-data")
			input.news_tag(type="hidden", name="event[tag]", value="news")
			.form_title Заголовок:
			input.ru(type="text", name="ru[title]", placeholder='«Вы живы?.. Я очень рада... ')
			input.en(type="text", name="en[title]", disabled)
			.form_title Подзаголовок:
			input.ru(type="text", name="ru[s_title]", placeholder='Я тоже, как вы, жива. ')
			input.en(type="text", name="en[s_title]", disabled)
			.form_title Описание:
			textarea.ru(name="ru[body]", rows="8", placeholder='Так часто мне снится ограда, ')
			textarea.en(name="en[body]", rows="8", disabled)
			.form_title Постер:
			input(type="file", name="poster")
			br
			br
			.event_convert СОБЫТИЕ
			br
			br
			.form_block_event
				.form_title Режисер:
				input.ru(type="text", name="event[ru][director]", disabled)
				input.en(type="text", name="event[en][director]", disabled)
				.form_title Художественный руководитель:
				input.ru(type="text", name="event[ru][art_director]", disabled)
				input.en(type="text", name="event[en][art_director]", disabled)
				.form_title Актеры:
				input.ru(type="text", name="event[ru][actors]", disabled)
				input.en(type="text", name="event[en][actors]", disabled)
				.add_actor добавить 
				.delete_actor удалить
				.form_title Категория:
				select(name='event[tag]')
					option(value='One') Один
					option(value='Two') Два
					option(value='Three') Три					
				.form_title Зал:
				select(name='event[hall]')
					option(value='One') Один
					option(value='Two') Два
					option(value='Three') Три					
				.form_title Дата:
				select(name='event[cal][date]')
					option(value='') Дата
					- for (var i=1; i<32; i++)
						option(value=i)= i
				select(name='event[cal][month]')
					option(value='') Месяц
					- var months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
					each month, i in months
						option(value=i)= month
				select(name='event[cal][year]')
					option(value='') Год
					option(value='2013') 2013
					option(value='2014') 2014									
				br
				br	
				.project_convert СПЕЦПРОЕКТ
				br
				br
				.form_block_project
					.children
					br
					.add_child добавить событие
					br
					br
				br