extends ../layout

block title
	title ЦИМ | КОНТАКТЫ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content_right

block content_left
	.left_block
		.content_navigator
			.section КОНТАКТЫ
				.nav_item бубубу
			.section ПЛОЩАДКИ
				.nav_item большой зал
				.nav_item черный зал
				.nav_item белый зал
				.nav_item фойе
				.nav_item кафе
				.nav_item зеркальный зал

block content
		.content
			.title КОНТАКТЫ
			.s_title ЦЕНТР ИМЕНИ ВС. МЕЙЕРХОЛЬДА
			.description
				br
				p 127055 Москва, ул. Новослободская, 23 (м. Менделеевская / м. Новослободская)
				p +7 (495) 363-10-48
				br
				img(src='//api-maps.yandex.ru/services/constructor/1.0/static/?sid=k3n4VT_yMyurpXva2Mmclneka5FzZgaf&width=600&height=450', alt='')
				br
				b Кирилл БАМБУРОВ
				p пресс-секретарь Центра им. Вс. Мейерхольда
				a(href='mailto:bamburov.kirill@gmail.com') BAMBUROV.KIRILL@GMAIL.COM
		.content
			.title БОЛЬШОЙ ЗАЛ
			.description
				ul
					li Высота до колосников — 7,8 м.
					li Параметры сцены (зал без партера)– 21 м x 19 м.
					li Параметры сцены (зал с максимальным партером 10 рядов по 28 мест) – 16 м (ширина) x 8 м (глубина).
					li Партер нефиксированный, может располагаться на планшете в любых архитектурных формах (амфитеатр, арена, бифронтальный партер, угловой и проч.).
					li Планшет сцены состоит из плунжеров 2 на 2 м, каждый из которых может подыматься максимум на 90 см.
					li Люк – 9 плунжеров (слева от центра сцены) уходят вниз на целый этаж.
					li Грузоподъемность лебедок – 150 кг По всему периметру сцены расположен балкон на расстоянии 4 м от планшета, который может быть как игровым, так и зрительским.
					li Глубина трюма — 3,7 м. Подъёмные площадки 2х2 м. — 72 шт., высота подъёма — 0,9 м.
					li Опускная площадка 6х6 м., опускается в трюм на глубину 3 м. 15 индивидуальных подъёмов, грузоподъёмность 150 кг. Киноустановка для полнометражных фильмов, экран 6х4 м., система Dolby Surround.
					li Синхронный перевод на 200 чел.
					li Вместимость зала до 300 чел.
					li Грузовой лифт – 6 м (высота) x 1,3 x 3
		.content
			.title ЧЕРНЫЙ ЗАЛ
			.description
				ul
					li Параметры зала 6,8 x 5,5 x 2,8 м.
					li Зал используется для различных акций, камерных спектаклей (в настоящее время в черном зале исполняется 7 спектаклей), кинопоказов.
					li Зал оборудован световым оборудованием - диммер 24 световых канала + 10 нерегулируемых включений.
					li Вместимость зала - до 44 человек.
		.content
			.title БЕЛЫЙ ЗАЛ
			.description
				br
				p Зал используется для различных акций, камерных спектаклей (в настоящее время в репертуаре зала спектаклей нет), репетиционного процесса. Зал не оборудован.
				p Вместимость зала - до 30 человек
		.content
			.title ФОЙЕ
			.description
				br
				p Площадь фойе — 150 кв. м. Фойе используется для пресс-конференций, выставок, семинаров, видеопоказов и других акций.
		.content
			.title КАФЕ
			.description
				br
				p На 4м этаже ЦИМа живет кафе О.Г.И., где комфортно разместятся 60 человек в европейской банкетной рассадке, а также можно организовать фуршет для 100 гостей. Здесь можно не только вкусно и недорого пообедать, но также отыграть акустический концерт (есть небольшая сцена), устроить детский праздник или закрытую вечеринку. Огромное окно, полки с книгами и приятная лаунж-атмосфера способствуют проведению творческих переговоров, деловых встреч, кофе-пауз и просто отдыху.
		.content
			.title ЗЕРКАЛЬНЫЙ ЗАЛ
			.description
				br
				p Зеркальный зал находится на 3 этаже ЦИМа. Используется зал для пресс-конференций, выставочных проектов, проведения лекций, семинаров, мастер-классов, видеопоказов, репетиционного процесса и др.
				p Вместимость зала - до 30 человек.

