extends ../layout

block title
	title ЦИМ | ПЛОЩАДКИ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css')

block content_scripts
	script(type='text/javascript', src='/scripts/static.js')

block content_right

block content_left
	.left_block
		.content_navigator
			.nav_item большой зал
			.nav_item черный зал
			.nav_item белый зал
			.nav_item фойе
			.nav_item кафе
			.nav_item зеркальный зал

block content
		.content
			.title БОЛЬШОЙ ЗАЛ
			.description
				br
				p Высота до колосников — 7,8 м.
				p Параметры сцены (зал без партера)– 21 м x 19 м.
				p Параметры сцены (зал с максимальным партером 10 рядов по 28 мест) – 16 м (ширина) x 8 м (глубина).
				p Партер нефиксированный, может располагаться на планшете в любых архитектурных формах (амфитеатр, арена, бифронтальный партер, угловой и проч.).
				p Планшет сцены состоит из плунжеров 2 на 2 м, каждый из которых может подыматься максимум на 90 см.
				p Люк – 9 плунжеров (слева от центра сцены) уходят вниз на целый этаж.
				p Грузоподъемность лебедок – 150 кг По всему периметру сцены расположен балкон на расстоянии 4 м от планшета, который может быть как игровым, так и зрительским.
				p Глубина трюма — 3,7 м. Подъёмные площадки 2х2 м. — 72 шт., высота подъёма — 0,9 м.
				p Опускная площадка 6х6 м., опускается в трюм на глубину 3 м. 15 индивидуальных подъёмов, грузоподъёмность 150 кг. Киноустановка для полнометражных фильмов, экран 6х4 м., система Dolby Surround.
				p Синхронный перевод на 200 чел.
				p Вместимость зала до 300 чел.
				p Грузовой лифт – 6 м (высота) x 1,3 x 3

		.content
			.title ЧЕРНЫЙ ЗАЛ
			.description
				br
				p Параметры зала 6,8 x 5,5 x 2,8 м.
				p Зал используется для различных акций, камерных спектаклей (в настоящее время в черном зале исполняется 7 спектаклей), кинопоказов.
				p Зал оборудован световым оборудованием - диммер 24 световых канала + 10 нерегулируемых включений.
				p Вместимость зала - до 44 человек.
		.content
			.title БЕЛЫЙ ЗАЛ
			.description
				br
				p Зал используется для различных акций, камерных спектаклей (в настоящее время в репертуаре зала спектаклей нет), репетиционного процесса. Зал не оборудован.
				p Вместимость зала - до 30 человек
		.content
			.title ФОЙЕ
			.description
				br
				p Площадь фойе — 150 кв. м. Фойе используется для пресс-конференций, выставок, семинаров, видеопоказов и других акций.
		.content
			.title КАФЕ
			.description
		.content
			.title ЗЕРКАЛЬНЫЙ ЗАЛ
			.description
				br
				p Зеркальный зал находится на 3 этаже ЦИМа. Используется зал для пресс-конференций, выставочных проектов, проведения лекций, семинаров, мастер-классов, видеопоказов, репетиционного процесса и др.
				p Вместимость зала - до 30 человек.

