extends ../layout

block title
	title ЦИМ | ИСТОРИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content_right

block content_left
	.left_block
		.content_navigator
			.nav_item М. А. ВАЛЕНТЕЙ
			.nav_item хроника

block content
		.content
			.title М. А. ВАЛЕНТЕЙ
			.description
				br
				b Мария Алексеевна Валентей (1924—2003)
				br
				i Дочь Татьяны Всеволодовны Мейерхольд, дочери Мейерхольда от первого брака. Преподавала литературу и русский язык в школе. С 1955 года — секретарь Комиссии по творческому наследию Мейерхольда. Содействовала выходу первых книг о Мейерхольде. Участвовала во многих конференциях и программах его памяти. С её помощью открылся первый музей Мейерхольда — у него на родине, в Пензе. В 1991 году добилась передачи его квартиры музею А. А. Бахрушина, и с этого времени работала заведующей музеем-квартирой. Удостоена Государственной премии России (2001). 15 января 2003 года Марии Алексеевны Валентей не стало.
				br
				br
				p До недавнего времени в многосложной московской театральной жизни была одна составляющая, наличие которой придавало отчётливо семейный характер нашему общению с Мейерхольдом. Это — Мария Алексеевна Валентей, внучка Мейерхольда. Её деятельная преданность памяти своего великого деда не имела границ. Жизнь Марии Алексеевны — пример и урок упорного противостояния частного человека тоталитарной государственной машине. Без всякого диссидентства, не вступая в идеологические дискуссии, она отстаивала интересы своей семьи, с которой машина обошлась — не могла не обойтись! — традиционно круто.
				p Ей было 14 лет, когда арестовали деда. Мать — средняя дочь Мейерхольда, Татьяна Всеволодовна, — работала и жила в подмосковном совхозе «Новый быт». Поэтому очереди с передачами в приёмную НКВД приходилось каждые 10 дней отстаивать Маше. В 1942 году арестовали мать (за «восхваление отца — врага народа»). Ещё полтора года знакомых очередей для Маши. Матери дали 8 лет, отправили в Сиблаг.
				p Невзирая на неодолимые, казалось, трудности путешествий в военное время, Маша отправилась в Новосибирск. Там был в эвакуации бывший Александринский театр, в котором работал муж тётки, Ирины Всеволодовны, — известный актёр В. В. Меркурьев. По его просьбе Е. П. Корчагина-Александровская, также известная актриса этого театра, как депутат Верховного Совета СССР выхлопотала у лагерного начальства досрочное освобождение Татьяны Всеволодовны.
				p Вызволив мать, Валентей начинает бомбардировать советские инстанции запросами о судьбе деда. В 1946 году ей выдали первое (ложное) свидетельство о его смерти (потом она выходит-вытребует ещё 3, и все — липа). В 1955 году началась реабилитация. Следователю Б. В. Ряжскому, который пересматривал дело Мейерхольда, понадобились свидетельства в пользу режиссёра от известных людей. Мария Алекссевна с готовностью отправилась их собирать (теперь эти замечательные письма опубликованы). Не будь её упорства, её убеждённости в том, что деда убили зазря, без вины, кто знает — состоялась бы вообще тогда реабилитация Мейерхольда. Ведь именно эта убеждённость Марии Валентей заставила Ряжского «забыть» о необходимости согласования с ЦК КПСС вопроса о пересмотре приговора и передать дело прямо в Верховный Суд. «Справочка с печатью о реабилитации…». Для миллионов родственников тех, чьи кости перемолола машина, она стала последней точкой трагедии их близких, эпилогом, жалким удовлетворением, полученным от власти. Но не для Валентей. Её бодание с дубом продолжилось; и длилось оно до полного разрушения дуба.
				p В 1956 году была создана Комиссия по творческому наследию В. Э. Мейерхольда. Мария Алексеевна стала её бессменным учёным секретарём. Вновь писались письма, ратовавшие на этот раз за право говорить о Мейерхольде, публиковать его тексты и книги о нём. Вновь Валентей ходила с письмами по инстанциям, и… дело двигалось! Выяснилось, что осуждённые на уничтожение материальные следы творчества Мейерхольда в большинстве своём пережили кровожадные времена. Сохранённое сопротивлением многих людей Сокровище — так, с большой буквы, называл архив своего учителя С. М. Эйзенштейн — стало приоткрываться миру. Да, строительство нового здания ГосТИМа не было закончено. Да, строители не возвели над ним Научную башню, где должен был помещаться музей театра, в котором могли бы работать люди, изучающие творчество режиссёра. Но была Мария Алексеевна! К ней приходили-приезжали исследователи со всего света, а она отправляла их с рекомендательными записочками к хорошо ведомым ей архивистам и музейщикам Москвы, Питера, Пензы. И мечтала о музее, который не дали создать её деду.
				p В позднесоветские, относительно вегетарианские времена каждая новая книга о Мейерхольде, каждый публичный вечер, посвящённый его памяти, требовали мужества и настойчивости. Во всех этих начинаниях Валентей принимала самое деятельное участие. Но постепенно главным её делом стала борьба за московскую квартиру деда в Брюсовом переулке, в которой должен был разместиться музей. Под напором бесконечных писем, депутатских запросов, статей в газетах и журналах, одним словом — под неутомимым напором Марии Алексеевны одряхлевший режим сдался. Ведомство железного Феликса, некогда распорядившееся не только жизнями З. Н. Райх и Вс. Э. Мейерхольда, но и их кооперативной квартирой, милостиво поделилось своим жилфондом и отселило её тогдашних обитателей. Никогда не забуду, как потемнели светлые глаза Марии Алексеевны, когда она переступила порог той квартиры. Не забуду и того впечатления, которое производили ободранные стены разорённого мейерхольдовского жилья. Поразительно, но она смогла справиться с этим ужасом, каковой — казалось мне тогда — навеки пребудет здешним genius loci. Её заботами место преступления постепенно превратилось в живой дом, куда — к ней! — стали приходить люди. Теперь здесь музей (филиал ГЦТМ имени А. А. Бахрушина), которым она деятельно заведовала до самого своего ухода. Однажды за столом у Мейерхольдов собралась молодёжь. Начали фантазировать — кто кем станет во взрослой жизни. Когда очередь дошла до Маши, Всеволод Эмильевич уверенно сказал: «Она будет душой общества!» Прогноз деда в полной мере осуществился. При очевидном отсутствии лёгкости характера и так называемого компанейства, Мария Алексеевна действительно стала душой общества — того пёстрого интернационального общества людей разных профессий, которым дорого творчество Мейерхольда. Мария Алексеевна ушла. Она была человеком религиозным и верила в бессмертие души. По вере её да воздастся ей. Для меня — для нас — всегда будет важно и радостно, что она была в нашей жизни, что она есть и пребудет в каждом деле, связанном с именем Мейерхольда.
				br
				small © Вадим Щербаков
		.content
			.title ХРОНИКА
			.description
				br
				p