extends ../layout

block title
	title ЦИМ | ИСТОРИЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content_right

block content_left
	.left_block
		.content_navigator
			.nav_item М. А. ВАЛЕНТЕЙ
			.nav_item хроника

block content
		.content
			.title М. А. ВАЛЕНТЕЙ
			.description
				br
				i Мария Алексеевна ВАЛЕНТЕЙ (1924—2003)
				p Дочь Татьяны Всеволодовны Мейерхольд, дочери Мейерхольда от первого брака. Преподавала литературу и русский язык в школе. С 1955 года — секретарь Комиссии по творческому наследию Мейерхольда. Содействовала выходу первых книг о Мейерхольде. Участвовала во многих конференциях и программах его памяти. С её помощью открылся первый музей Мейерхольда — у него на родине, в Пензе. В 1991 году добилась передачи его квартиры музею А. А. Бахрушина, и с этого времени работала заведующей музеем-квартирой. Удостоена Государственной премии России (2001). 15 января 2003 года Марии Алексеевны Валентей не стало.
		.content
			.title ХРОНИКА
			.description
				br
				p