extends ../layout

block title
	title ЦИМ | ИНСТИТУТ ТЕАТРА

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css' + version)

block content_scripts
	script(type='text/javascript', src='/scripts/static.js' + version)
	//- script(type='text/javascript', src='/scripts/back.js' + version)

block content_under
	.under_block
		|Художественный руководитель «Института театра»:
		br
		b Елена КОВАЛЬСКАЯ

block content_right
	.right_block
		b Контакты:
		br
		b Елена КОВАЛЬСКАЯ
		br
		a(href='mailto:elena.g.kovalskaya@gmail.com') elena.g.kovalskaya@gmail.com

block content_left
	.left_block
		.content_navigator
			.nav_item институт театра
			.nav_item почерк
			.nav_item фестиваль историй
			.nav_item класс театральной критики
			.nav_item театральный класс

block content
		.content
			.title ИНСТИТУТ ТЕАТРА
			.s_title ЦЕНТР ИМЕНИ ВС. МЕЙЕРХОЛЬДА  / ФЕСТИВАЛЬ «ЗОЛОТАЯ МАСКА» ПРИ ПОДДЕРЖКЕ ДЕПАРТАМЕНТА КУЛЬТУРЫ ГОРОДА МОСКВЫ
			.description
				br
				p С 2012 года в Центре имени Вс. Мейерхольда реализуется инновационный проект «Школа театрального лидера», цель которого – модернизация московского театра силами молодого поколения.
				p Фестиваль «Золотая Маска» в течение многих лет проводит образовательную программу для театральных специалистов из городов России.
				p «Институт театра» становится логическим продолжением деятельности «Школы театрального лидера» и профессиональных и творческих семинаров, ежегодно проводимых «Золотой Маской».
				br
				b «ИНСТИТУТ ТЕАТРА» – ЭТО:
				p Лаборатории, мастер-классы, лекции для молодых режиссеров, продюсеров, дизайнеров, артистов, критиков.
				p Инновационные проекты по интеграции театра и общества.
				p Новые жанры, новый облик театра, новые смыслы.
				p Встреча недавних выпускников творческих вузов с реальностью, возможность для них стать практиками, не перестав быть мечтателями.
				p «Институт театра» – мастерская перемен и нового настроения в театре и в культуре.
				br
				p Программа стартует в марте 2013 года и рассчитана на длинную перспективу.
				br
				b ИНФОРМАЦИЯ И УСЛОВИЯ УЧАСТИЯ В ПРОЕКТАХ:
				br
				a(href='http://www.goldenmask.ru', target='_blank') WWW.GOLDENMASK.RU
				br
				a(href='/')	WWW.MEYERHOLD.RU
		.content
			.title ПОЧЕРК
			.description
				br
				p Создание проектов редизайна шести театров Москвы и России группой молодых дизайнеров.
				p Проект стартует в апреле мастер-классом Игоря Гуровича и Сергея Голомазова (руководитель Театра на Малой Бронной), продолжится экспедициями дизайнеров в театры страны и работой над авторскими проектами, завершится в декабре выставкой и изданием книги о новом лице российского театра.
		.content
			.title ФЕСТИВАЛЬ ИСТОРИЙ
			.description
				br
				p Мастер-класс сторителинга (ведет Йеспер Ла Кур Андерсен, Дания) и фестиваль лучших работ в парке «Аптекарский огород» 24 марта. Целью проекта является развитие нового для России жанра сторителинга – искусства рассказывать истории. Жанр будет использоваться для вовлечения в творчество обделенных культурой социальных групп и воспитания будущей театральной публики.
		.content
			.title КЛАСС ТЕАТРАЛЬНОЙ КРИТИКИ
			.description
				br
				p Конкурс молодых критиков и серия мастер-классов ведущих театральных обозревателей Москвы. Проект стремится установить диалог между разными поколениями театральной критики, повысить профессионализм молодых театроведов и журналистов, подготовить их к работе в СМИ и к взаимодействию с «живым» театром.
		.content
			.title ТЕАТРАЛЬНЫЙ КЛАСС
			.description
				br
				p Мастер-класс театральной педагогики (ведет Клаудиа Майерс, Германия) и обширная программа по интеграции театра и средней школы, включающая комплекс мероприятий, которые обрамляют поход школьного класса на спектакль. Программа включает подготовку школьника к восприятию искусства театра и создание универсальной методики работы. Проект реализуется театральными педагогами и преподавателями московских школ. Панируется применение методики в регионах страны.
				br
				p При поддержке Немецкого культурного центра им. Гете.
				br
				b В ПРОГРАММУ «ИНСТИТУТА ТЕАТРА» ТАК ЖЕ ВОЙДУТ
				p Спектакль Саши Денисовой и «Liquid Theatre» «Алиса и государство».
				p Фестивали уличного театра в спальных районах Москвы под руководством Юрия Муравицкого.
				br
				b ПЛАНИРУЮТСЯ
				p Цикл представлений оперы «Любовь к трем апельсинам» в исполнении оркестра «Русская филармония» п/р Дмитрия Юровского и хоров учащихся московских школ.
				p Совместный проект «Школы театрального лидера» и «Московского ансамбля современной музыки» по взаимодействию современной музыки и театра. Результатом станет музыкальный спектакль в нескольких частях на основе оригинальной музыки, написанной в рамках проекта.

