extends ../layout

block title
	title ЦИМ | СЕГОДНЯ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/static.css')

block content_scripts
	script(type='text/javascript', src='/scripts/static.js')
	script(type='text/javascript', src='/scripts/back.js')

block content_right

block content_left

block content
		.content
			.title ЦИМ СЕГОДНЯ — ЭТО ИНСТИТУТ СОВРЕМЕННОГО ТЕАТРА
			.description
				br
				p Лаборатория для профессионального сообщества, изучающего и развивающего театр-искусство и театр-общественный институт.Площадка современного театра для зрителей, интересующихся всем новым в театре и культуре.
				p Наша цель — модернизация театра.
				p Наши инструменты — современный театр, новое образование, поддержка инициативы, театральный поиск.
				p Сцена-трансформер и здание на стыке конструктивизма и современной архитектуры задают тон всему происходящему в ЦИМе.
				br
				b СОВРЕМЕННЫЙ ТЕАТР:
				p Мейерхольдовский центр — традиционное место для гастролей лучших европейских и российских спектаклей, площадка международных фестивалей и национального фестиваля «Золотая маска».
				br
				b НОВОЕ ОБРАЗОВАНИЕ
				p Магистратура, в которой на протяжении двух лет в ЦИМе учатся режиссеры со всего постсоветского пространства;
				p «Школа театрального лидера», в которой лучшие молодые силы готовятся к работе в репертуарном театре, исповедуя принципы стратегического планирования, конкуренции и социальной ответственности театра перед обществом;
				p «Институт театра» - программа интеграции театра и общества, которую ЦИМ проводит в партнерстве с фестивалем «Золотая маска»;
				p мастер-классы, семинары, развивающие театр как искусство и общественный институт.
				p Клуб ЦИМа, совмещающий публичные лекции, кинопоказы, концерты и выставки.
				br
				b ПОДДЕРЖКА ИНИЦИАТИВЫ
				br
				|Копродукции с независимыми группами или государственными театрами, соответствующие целям ЦИМа.
				br
				br
				b ТЕАТРАЛЬНЫЙ ПОИСК
				br
				|Резиденция Blackbox, в которой художники разных профессий исследуют возможности новых конвенций между спектаклем и зрителем и новых пространственных решений.






