.content_block {
	min-height: 850px;
	width: 930px;
	background-color: white;
}

.form_block {
	position: relative;
}

.ru {
	width: 450px;
	display: inline-block;
	margin-right: 10px; 
}

.en {
	width: 450px;
	display: none;
}

/*
	Event
*/

.form_block_event {
	display: none;
}

.form_block_project {
	display: none;
}

/*
	Navigator
*/

.navigator {
	width: 170px;
	float: right;
	background-color: #9ea13b;
	position: relative;
	margin-top: 15px;
}

/*.navigator {
	width: 170px;
	float: right;
	background-color: #9ea13b;
	position: fixed;
	margin-left: 950px;
	margin-top: 15px;
}*/

.nav_item {
	cursor: pointer;
}

.form_submit {
	cursor: pointer;
}

.toggle_eng {
	cursor: pointer;
}