.content_block {
	min-height: 850px;
	width: 930px;
	background-color: white;
}

.form_block {
	position: relative;
}

input {
	font-size: 16px;
	margin-left: 3px;
}

textarea {
	font-size: 16px;
	margin-left: 3px;
}

.ru {
	width: 450px;
	display: inline-block;
	margin-right: 10px; 
}

.en {
	width: 450px;
	display: none;
}

.form_title	{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 16px;
	margin-left: 3px;
}

/*
	Event
*/

.news_convert {
	margin-top: 15px;
	margin-left: 3px;
	width: 115px;
	cursor: pointer;
	font-size: 24px;
	border-bottom: 2px solid black;
}

.form_block_event {
	display: none;
}

.event_convert {
	margin-top: 15px;
	margin-left: 3px;
	width: 120px;
	cursor: pointer;
	font-size: 24px;
	border-bottom: 2px solid black;
}

.form_block_project {
	display: none;
}

.project_convert {
	margin-top: 15px;
	margin-left: 3px;
	width: 160px;
	cursor: pointer;
	font-size: 24px;
	border-bottom: 2px solid black;
}

.add_child {
	margin-left: 3px;
	width: 190px;
	cursor: pointer;
	font-size: 24px;
	border-bottom: 2px solid black;	
}

/*
	Navigator
*/

.navigator {
	width: 170px;
	float: right;
	background-color: #9ea13b;
	position: relative;
	margin-top: 15px;
}

/*.navigator {
	width: 170px;
	float: right;
	background-color: #9ea13b;
	position: fixed;
	margin-left: 950px;
	margin-top: 15px;
}*/

.nav_item {
	cursor: pointer;
}

.form_submit {
	cursor: pointer;
}

.toggle_eng {
	cursor: pointer;
}