body {
 	font: 11pt/13pt 'Pragmatica';
}

.head_title_block a {
	color: black;
}

.content_block {
	width: 1120px;
	min-height: 550px;
	overflow: auto;
	background-color: white;
}

.afisha_no_schedule_block {
	width: 705px;
	font: 56pt/50pt 'PragmaticaM';
	margin-top: 20%;
	margin-left: 164px;
}

.afisha_item_block	{
	overflow: hidden;
}

.afisha_tags_block {
	min-height: 14px;
	margin-left: 10px;
	margin-top: -6px;
}

.afisha_all_block {
	float: left;
	padding-top: 6px;
}

.afisha_date_block {
	width: 225px;
	height: 80px;
	margin-top: 14px;
	float: left;
 	font: 56pt/50pt 'PragmaticaM';
 	letter-spacing: -1px;
 	padding-left: 5px;
 	padding-right: 5px;
 	/*text-align: right;*/
}

.afisha_events_block {
	float: left;
}

.afisha_description_block {
	margin-bottom: 30px;
	overflow: hidden;
}

.afisha_schedule_block {
	margin-top: 14px;
	width: 95px;
	height: 76px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
}

.afisha_time {
 	font: 11pt/12pt 'PragmaticaB';
 	letter-spacing: 0px;
}

.afisha_hall {
 	font: 11pt/13pt 'Pragmatica';
 	padding-top: 10px;
}

.tag {
	float: left;
	margin-right: 10px;
 	font: 8pt/8pt 'Pragmatica';
 	letter-spacing: 1px;
 	cursor: pointer;
 	color: white;
 	padding-left: 7px;
 	padding-right: 7px;
 	padding-top: 2px;
 	padding-bottom: 2px;
 	text-align: center;
 	background-color: black;
}

.tag:hover {
	background-color: red;
	color: white;
}

.select_tag {
	background-color: red;
	color: white;
}

.afisha_event {
	width: 362px;
	min-height: 77px;
	clear: both;
	float: left;
	padding-left: 8px;
	padding-top: 3px;
	overflow: hidden;
}

.title {
 	font: 21pt/21pt 'PragmaticaB';
 	color: black;
 	text-decoration: none;
}

.title:hover {
	text-decoration: underline;
}

.s_title {
 	font: 11pt/13pt 'PragmaticaB';
 	margin-top: 1px;
 	margin-bottom: 5px;
}

.actors {
	width: 190px;
	min-height: 78px;
	float: left;
	padding-top: 2px;
	padding-left: 20px;
}

.member {
 	font: 11pt/13pt 'PragmaticaB';
}

.comment {
	min-height: 79px;
	float: left;
	width: 170px;
 	font: 10pt/14pt 'PragmaticaB';
 	padding-top: 1px;
 	padding-left: 20px;
}

.out {
	color: #b7b3b0;
}

.out a {
	color: #b7b3b0;
}

.out .tag {
	background-color: #b7b3b0;
}


/*
	Separator block
*/


.afisha_separator_block {
	margin-left: 12px;
	margin-bottom: 13px;
	overflow: hidden;
}

.separator_title {
	float: left;
	font: 8pt/10pt 'PragmaticaM';
}

.separator_line {
	width: 1065px;
	height: 1px;
	margin-top: 6px;
	margin-left: 5px;
	background-color: black;
	float: left;
}


/*
	Footer block
*/


.footer_logo {
	background-image: url('/images/design/logo_b.png');
}

.color {
	color: black;
	background-color: white;
}


.afisha_ticket {
	width: 90px;
	display: block;
	margin-top: 5px;
	border: 1px solid black;
	text-align: center;
	font: 10pt/12pt 'Pragmatica';
}

.afisha_ticket:hover {
	border: 1px solid red;
	text-decoration: none;
	color: white;
	background-color: red;
}

.ticket_none:hover {
	color: white;
	text-decoration: none;
	border: 1px solid black;
	background-color: black;
}

.ticket_phone {
	font: 8pt/12pt 'Pragmatica';
}