.afisha_date_block {
	background-color: #e26f64;
}

.afisha_schedule_block {
	background-color: #84df94;
}

.afisha_event {
	background-color: #dfb799;
}

.actors {
	background-color: #39bedf;
}

.comment {
	background-color: #a27ddf;
}

.afisha_item_block	{
	background-color: #155bb0;
}

.afisha_all_block {
	background-color: red;
}