body {
 	font: 11pt/12pt 'Pragmatica';
 	/*letter-spacing: 0px;*/
}

.content_block {
	background-color: white;
	width: 930px;
	min-height: 600px;
	overflow: visible;
}


.image_upload {
	width: 930px;
	height: 620px;
	/*background: no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.calendar {
	width: 930px;
	height: 80px;
	background-color: black;
	overflow: hidden;
}

.cal_date {
	/*width: 230px;*/
	margin-right: 25px;
	height: 80px;
	float: left;
	color: white;
	margin-left: 0px;
 	font: 56pt/51pt 'PragmaticaM';
 	letter-spacing: -1px;
 	padding: 5px;
 	cursor: default;
	display: inline-block;
	overflow: hidden;
	background-color: black;
	white-space: nowrap;
	position: relative;
	z-index: 1;
}

.cal_schedule {
	width: 110px;
	height: 75px;
	padding-top: 5px;
	float: left;
	color: white;
	cursor: default;
	margin-left: -115px;
	/*background-color: green;*/
	position: relative;
	z-index: 0;
}

.cal_time {
	font: 11pt/12pt 'Pragmatica';
	letter-spacing: 0px;
	margin-top: 1px;
	padding: 5px;
	font-weight: bold;
}

.cal_hall {
	font: 11pt/12pt 'Pragmatica';
	letter-spacing: 0px;
	padding: 5px;
}

.cal_spacer {
	width: 2px;
	height: 55px;
	margin-top: 13px;
	margin-right: 25px;
	float: left;
	background-color: white;
}

.cal_spacer:last-child {
	display: none;
}

.inner {
	width: 1500px;
}

/*.date:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.date2:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}*/

.content_body {
	padding-top: 12px;
	padding-bottom: 16px;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	/*position: absolute;*/
	/*border: 1px solid black;*/
}

.column {
	width: 300px;
	min-height: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	margin-right: 10px;
	float: left;
 	font: 11pt/13pt 'Pragmatica';
 	letter-spacing: 0px;
 	/*font-weight: bold;*/
	hyphens: auto;
	-webkit-hyphens: auto;
	/*background-color: #62ffb1;*/
	/*border: 1px solid black;*/
}

.m_list a {
	/*font-weight: bold;*/
	font: 11pt/13pt 'PragmaticaB';
	float: left;
	clear: both;
	margin-right: 5px;
}

.marker {
	clear: both;
	overflow: hidden;
}

.m_comment {
	min-width: 50px;
	float: left;
}

.title {
	width: 922px;
 	font: 56pt/51pt 'PragmaticaM';
 	/*letter-spacing: 0px;*/
 	padding-left: 4px;
 	padding-right: 4px;
 	/*padding-top: 12px;*/
 	/*border: 1px solid black;*/
 	/*font-weight: bold;*/
/*	hyphens: auto;
	-webkit-hyphens: auto;*/
 	/*white-space: pre-wrap;*/
}

.s_title {
 	font: 26pt/28pt 'PragmaticaM';
 	/*letter-spacing: 0px;*/
 	padding-left: 7px;
 	padding-right: 7px;
 	padding-top: 7px;
 	padding-bottom: 9px;
 	font-weight: bold;
}

.description {
	clear: both;
	width: 910px;
 	font: 12pt/13pt 'Pragmatica';
 	/*letter-spacing: 0px;*/
	hyphens: auto;
	-webkit-hyphens: auto;
 	margin-top: 5px;
 	/*padding-top: 2px;*/
 	padding-bottom: 2px;
 	padding-left: 10px;
 	padding-right: 10px;
	/*border: 1px solid black;*/
}

.description b {
	font: 12pt/13pt 'PragmaticaB';
}

.comment {
	width: 270px;
	min-height: 35px;
	font: 10pt/14pt 'PragmaticaB';
	/*font-weight: bold;*/
	/*height: 110px;*/
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	float: right;
	hyphens: auto;
	-webkit-hyphens: auto;
	overflow: hidden;
	/*background-color: red;*/
}

.content_right_block {
	float: right;
}

.edit_btn {
	width: 170px;
	height: 30px;
	background-color: red;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-top: 13px;
	/*position: fixed;*/
	/*margin-top: 20px;*/
	display: block;
	font: 12pt/14pt 'Pragmatica';
}

.edit_btn:hover {
	background-color: white;
	color: black;
	text-decoration: none;
}

.ticket {
	width: 150px;
	min-height: 30px;
	padding: 10px;
	margin-bottom: 20px;
	/*float: right;*/
	font: 10pt/12pt 'Pragmatica';
	/*font-weight: bold;*/
	background-color: #c7ff09;
}

/*
	Pin Events
 */

.pin_events_block {
	/*width: 160px;*/
	min-height: 20px;
	/*float: right;*/
	position: fixed;
	margin-left: 950px;
}

a.pin_event_link {
	text-decoration: none;
}

.pin_event {
	width: 150px;
	margin-bottom: 20px;
	background-color: black;
	padding: 10px;
	color: white;
	cursor: pointer;
}

.pin_event:hover {
	color: black;
	background-color: white;
}

.pin_event_titile {
	font: 10pt/12pt 'PragmaticaM';
}

.pin_event_s_titile {
	font: 8pt/11pt 'PragmaticaM';
	padding-top: 2px;
}

/*
	Press
 */

.press_block {
	width: 930px;
}

.press_item {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
	min-height: 20px;
	background-color: white;
}

.press_author {
	font: 11pt/13pt 'PragmaticaB';
}
