body {
 	font: 11pt/12pt 'Pragmatica';
 	/*letter-spacing: 0px;*/
}

.content_block {
	background-color: white;
	width: 930px;
	min-height: 600px;
	overflow: visible;
}

.photos_block {
	width: 930px;
	height: 620px;
	overflow: hidden;
	background-color: black;
}

.photos_block:hover .switch {
	display: block;
}

/*.photos_block:hover .trailers_block {
	margin-left: -20px;
	-webkit-transition-duration: 0.5s;
}*/

.photos_inner {
	width: 7500px;              /* params количество трейлеров + количество фотографий */
	margin-left: -1860px;       /* -params количество трейлеров */
}

.switch {
	background-color: black;
	color: white;
	width: 600px;
	height: 70px;
	display: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	position: absolute;
	text-align: center;
	cursor: pointer;
	z-index: 0;
	font: 56pt/51pt 'PragmaticaM';
	-webkit-transform:rotate(270deg);
	-webkit-transform-origin: 310px 310px;
	-moz-transform:rotate(270deg);
	-moz-transform-origin: 310px 310px;
}

.switch:hover {
	color: black;
	background-color: white;
}


.trailers_block {
	float: left;
	overflow: hidden;
/*	z-index: 1;
	position: relative;
	-webkit-transition-duration: 0.5s;*/
}

.trailer {
	width: 930px;
	height: 620px;
	float: left;
	overflow: hidden;
	background-color: #50c983;
}

.images_block {
	float: left;
	overflow: hidden;
}

.image_upload {
	width: 930px;
	height: 620px;
	float: left;
	position: relative;
	/*background: no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.image_upload:nth-child(odd) {
	z-index: 1;
}

.image_upload:nth-child(even) {
	z-index: 2;
}

.p_author {
	/*margin-top: 595px;*/
	/*margin-left: -46px;*/
	opacity: 0;
	padding: 5px 10px;
	position: relative;
	font: 11pt/13pt 'Pragmatica';
	background-color: black;
	color: white;
	overflow: hidden;
	-webkit-transition-duration: 0.5s;
}

.photos_block:hover .image_upload > .p_author {
	opacity: 1;
	-webkit-transition-duration: 0.5s;
}

.a_name, .a_title {
	float: left;
}

.a_title {
	margin-right: 5px;
}

.calendar {
	width: 930px;
	height: 80px;
	background-color: black;
	overflow: hidden;
}

.cal_date {
	/*width: 230px;*/
	/*margin-right: 20px;*/
	height: 80px;
	float: left;
	color: white;
	margin-left: 0px;
 	font: 56pt/51pt 'PragmaticaM';
 	letter-spacing: -1px;
 	padding-right: 15px;
 	padding-top: 5px;
 	padding-left: 5px;
 	padding-bottom: 5px;
 	cursor: default;
	display: inline-block;
	overflow: hidden;
	background-color: black;
	white-space: nowrap;
	position: relative;
	z-index: 1;
}

.cal_schedule {
	width: 110px;
	height: 75px;
	padding-top: 10px;
	padding-left: 5px;
	/*margin-right: 10px;*/
	float: left;
	color: white;
	cursor: default;
	position: relative;
	z-index: 0;
}

.cal_item:hover .cal_date {
	background-color: white;
	color: black;
}

.cal_item .cal_schedule {
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	margin-left: -121px;
}

.cal_item:hover .cal_schedule {
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
	background-color: white;
	color: black;
	margin-left: 0px;
}

.cal_time {
	font: 11pt/12pt 'Pragmatica';
	letter-spacing: 0px;
	padding-bottom: 9px;
	font-weight: bold;
}

.cal_hall {
	font: 11pt/13pt 'Pragmatica';
	letter-spacing: 0px;
}

.cal_ticket {
	width: 90px;
	margin-top: 5px;
	border: 1px solid black;
	font: 10pt/12pt 'Pragmatica';
	display: block;
	text-align: center;
}

.cal_ticket:hover {
	border: 1px solid red;
	color: white;
	background-color: red;
	cursor: pointer;
	text-decoration: none;
}

.cal_spacer {
	width: 2px;
	height: 55px;
	margin-top: 13px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	background-color: white;
}

.cal_inner_title {
	float: left;
	color: white;
	font: 8pt/10pt 'Pragmatica';
	text-align: center;
	margin-right: 8px;
	margin-left: 8px;
	cursor: default;
	display: block;
	height: 80px;
	-webkit-writing-mode: vertical-lr;
	-webkit-transform: scale(-1, -1);
}

.cal_spacer:last-child {
	display: none;
}

.inner {
	width: 1500px;
	margin-left: -29px;
}

.content_body {
	padding-top: 12px;
	padding-bottom: 16px;
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	/*position: absolute;*/
	/*border: 1px solid black;*/
}

.content_body ol, ul, li {
	margin-left: 10px;
	padding: 0;
}

.content_body blockquote {
	margin: 0;
	padding: 0;
}

.content_body blockquote:before {
	content: open-quote;
}

.content_body blockquote:after {
	content: close-quote;
}

.column {
	width: 300px;
	min-height: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	margin-right: 10px;
	float: left;
 	font: 11pt/13pt 'Pragmatica';
 	letter-spacing: 0px;
 	/*font-weight: bold;*/
	hyphens: auto;
	-webkit-hyphens: auto;
	/*background-color: #62ffb1;*/
	/*border: 1px solid black;*/
}

.m_list a {
	/*font-weight: bold;*/
	font: 11pt/13pt 'PragmaticaB';
	float: left;
	clear: both;
	margin-right: 5px;
}

.marker {
	clear: both;
	overflow: hidden;
}

.m_comment {
	min-width: 50px;
	float: left;
	margin-top: 3px;
	font: 10pt/10pt 'Pragmatica';
}

.title {
	width: 922px;
 	font: 56pt/51pt 'PragmaticaM';
 	/*letter-spacing: 0px;*/
 	padding-left: 4px;
 	padding-right: 4px;
 	/*padding-top: 12px;*/
 	/*border: 1px solid black;*/
 	/*font-weight: bold;*/
/*	hyphens: auto;
	-webkit-hyphens: auto;*/
 	/*white-space: pre-wrap;*/
}

.s_title {
 	font: 26pt/28pt 'PragmaticaM';
 	/*letter-spacing: 0px;*/
 	padding-left: 7px;
 	padding-right: 7px;
 	padding-top: 7px;
 	padding-bottom: 9px;
 	font-weight: bold;
}

.description {
	clear: both;
	width: 910px;
 	font: 12pt/13pt 'Pragmatica';
 	/*letter-spacing: 0px;*/
	hyphens: auto;
	-webkit-hyphens: auto;
 	margin-top: 5px;
 	/*padding-top: 2px;*/
 	padding-bottom: 2px;
 	padding-left: 10px;
 	padding-right: 10px;
	/*border: 1px solid black;*/
}

.description b {
	font: 12pt/13pt 'PragmaticaB';
}

.s_column {
	margin-top: 10px;
	width: 290px;
	/*background-color: green;*/
	float: left;
}

.age {
	width: 25px;
	height: 25px;
	margin-left: 10px;
	background-color: black;
	border-radius: 50px;
	color: white;
	text-align: center;
	float: left;
	font: 9pt/19.5pt 'PragmaticaM';
}

.duration {
	margin-top: 2px;
	margin-left: 45px;
	width: 120px;
	text-align: center;
	border: 2px solid black;
	font: 10pt/14pt 'PragmaticaM';
}

.comment {
	width: 270px;
	min-height: 35px;
	font: 10pt/14pt 'PragmaticaB';
	/*font-weight: bold;*/
	/*height: 110px;*/
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	/*float: right;*/
	hyphens: auto;
	-webkit-hyphens: auto;
	overflow: hidden;
	/*background-color: red;*/
}

.age:after {
	content: '+';
}

.content_right_block {
	float: right;
	min-width: 170px;
	min-height: 170px;
}

.edit_btn {
	width: 170px;
	height: 30px;
	background-color: red;
	color: white;
	text-align: center;
	text-decoration: none;
	padding-top: 13px;
	margin-bottom: 20px;
	/*position: fixed;*/
	/*margin-top: 20px;*/
	display: block;
	font: 12pt/14pt 'Pragmatica';
}

.edit_btn:hover {
	background-color: white;
	color: black;
	text-decoration: none;
}

.ticket {
	width: 150px;
	min-height: 30px;
	padding: 10px;
	margin-bottom: 20px;
	/*float: right;*/
	font: 10pt/12pt 'Pragmatica';
	/*font-weight: bold;*/
	background-color: #c7ff09;
}

/*
	Pin Events
 */

.pin_events_block {
	width: 170px;
	overflow: hidden;
	position: fixed;
}

.pin_events_scroll {
	width: 200px;
	overflow: auto;
	height: 450px;
	position: relative;
}

a.pin_event_link {
	text-decoration: none;
}

.pin_event {
	width: 150px;
	margin-bottom: 20px;
	background-color: black;
	padding: 10px;
	color: white;
	cursor: pointer;
}

.pin_event:hover {
	color: black;
	background-color: white;
}

.pin_event_titile {
	font: 10pt/12pt 'PragmaticaM';
}

.pin_event_s_titile {
	font: 8pt/11pt 'PragmaticaM';
	padding-top: 2px;
}

/*
	Press
 */

.press_block {
	width: 930px;
}

.press_item {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 15px;
	min-height: 20px;
	background-color: white;
}

.press_author {
	font: 11pt/13pt 'PragmaticaB';
}

.press_body {
	font: 11pt/13pt 'Pragmatica';
	font-style:italic;
	display: inline;
}
