.image_upload {
	width: 930px;
	height: 620px;
	background-size: cover;
}

.content_right_block {
	float: right;
}

.ticket {
	margin-bottom: 20px;
}


/*
	Menu Block
 */

.upload {
	width: 170px;
	height: 30px;
	background-color: red;
	color: white;
	text-align: center;
	padding-top: 13px;
	margin-top: 20px;
	font: 12pt/14pt 'Pragmatica';
}

.upload:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}
.settings {
	width: 150px;
	background-color: black;
	clear: both;
	margin-top: 20px;
	color: white;
	padding: 10px;
}

.s_item:hover {
	text-decoration: underline;
	cursor: pointer;
}

/*
	Upload img
 */

input {
	opacity: 0;
	position: absolute;
}


/*
	Edit Members
 */

.m_title {
	/*width: 200px;*/
	float: left;
}

.m_edit {
	/*width: 15px;*/
	float: right;
	color: red;
	font-size: 14pt;
	/*font-weight: bold;*/
	cursor: pointer;
	text-align: center;
}

.m_list {
	clear: both;
}

.m_edit:hover {
	color: black;
}

.marker {
	clear: both;
}
.marker a {
	display: block;
}

.add {
	height: 300px;
	background-color: #389177;
	padding-top: 17px;
}

.add_member {
	cursor: pointer;
	font-weight: bold;
}

.select_member {
	background-color: red;
}


/*
	Grids block
 */

.marker:nth-child(odd).grid {
	background-color: #915860;
}

.title, .s_title, .description, .comment, .ticket {
	outline: none;
}

.title, .s_title {
	text-transform: uppercase;
}

.title.grid {
	background-color: #b76951;
}

.s_title.grid {
	background-color: #9d91b7;
}

.comment.grid {
	background-color: #94b7a1;
}

.comment.grid {
	background-color: #84b77f;
}

.column.grid {
	background-color: #6ca2b7;
}

.description.grid {
	background-color: #b7907f;
}