.content_block div {
	outline: none;
}

.content_block {
	width: 920px;
	background-color: white;
	padding-left: 10px;
	padding-bottom: 10px;
}

.content_right {
	position: fixed;
	margin-left: 950px;
	background-color: black;
	color: white;
}

.hide_blocks {
	cursor: pointer;
}

.hide_blocks:hover {
	text-decoration: underline;
}

.content_title {
	margin-top: 20px;
	font-size: 30px;
}

.sections_block {
	width: 910px;
}

.section_block {
	background-color: #a7cbcf;
	margin-top: 30px;
}

.section_title {
	margin-bottom: 30px;
	font-size: 16pt;
	text-transform: uppercase;
}

.content_section_block {
	width: 910px;
	background-color: #48cc8f;
	margin-top: 30px;
	cursor: move;
	overflow: hidden;
}

.content_section_menu, .section_menu_block {
	overflow: hidden;
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

.content_section_menu div, .section_menu_block div {
	float: left;
	cursor: pointer;
	margin-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.content_section_menu div:hover, .section_menu_block div:hover {
	text-decoration: underline;
}

.content_section_title,  .content_section_description, .content_section_ticket {
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid black;
	cursor: text;
}

.content_section_title {
	width: 897px;
	font: 20pt/20pt 'PragmaticaM';
	text-transform: uppercase;
}

.content_section_description {
	width: 710px;
	margin-right: 15px;
	min-height: 120px;
	font: 11pt/12pt 'Pragmatica';
	float: left;
}

.content_section_ticket {
	width: 150px;
	min-height: 40px;
	float: left;
	font: 10pt/12pt 'Pragmatica';
	padding: 10px
}

.add_content, .add_section {
	width: 180px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 3px solid #cfab39;
	margin: 30px auto;
	/*margin-top: 30px;*/
	/*margin-bottom: 10px;*/
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}

.add_content:hover, .add_section:hover {
	background-color: #cfab39;
	color: white;
}

.section_under {
	background-color: black;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
}

.submit {
	margin-top: 30px;
	width: 180px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 3px solid red;
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
}

.submit:hover {
	background-color: red;
	color: white;
}