.content_block {
	background-color: white;
	width: 930px;
	min-height: 300px;
}

.head_title_block {
	color: black;
}

.error_title {
	width: 120px;
	/*padding-top: 100px;*/
	margin-left: 10px;
	/*margin: 0 auto;*/
	/*padding-left: 10px;*/
	font-family: 'Times New Roman';
	/*font: 56pt/51pt 'PragmaticaM';*/
	/*border: 1px solid black;*/
}

.error_s_title {
	/*width: 200px;*/
	font-family: 'Times New Roman';
	margin-left: 10px;
	/*margin: 0 auto;*/
	/*font: 26pt/28pt 'PragmaticaM';*/
	/*padding-top: 10px;*/
	/*padding-bottom: 30px;*/
	/*border: 1px solid black;*/
}

.error_image {
	padding-top: 150px;
	padding-bottom: 150px;
	width: 170px;
	margin: 0 auto;
	display: block;
}

.footer_logo {
	background-image: url('/images/design/logo_b.png');
}

.color {
	color: black;
	background-color: white;
}