body {
 	font: 12pt/15pt 'Pragmatica';
 	/*letter-spacing: 0px;*/
}

.content_block {
	background-color: white;
	width: 930px;
	min-height: 1200px;
}

.description {
	width: 930px;
}

img {
	width: 930px;
	height: 620px;
	display: block;
}

.calendar {
	width: 930px;
	height: 80px;
	background-color: black;
	overflow: hidden;
}

/*.date {
	width: 230px;
	height: 80px;
	float: left;
	color: white;
 	font: 60pt/53pt 'PragmaticaM';
 	letter-spacing: -1px;
 	padding: 5px;
}

.date2 {
	width: 110px;
	height: 80px;
	float: left;
	color: white;
	margin-left: 0px;
 	font: 26pt/23pt 'PragmaticaM';
 	letter-spacing: 0px;
 	padding: 10px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}*/

.date {
	width: 110px;
	height: 80px;
	float: left;
	color: white;
	margin-left: 0px;
 	font: 26pt/23pt 'PragmaticaM';
 	letter-spacing: 0px;
 	padding: 10px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

.big {
	width: 230px;
	height: 80px;
	float: left;
	color: white;
 	font: 60pt/53pt 'PragmaticaM';
 	letter-spacing: -1px;
 	padding: 5px;
}

.inner {
	width: 1500px;
}

.date:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.date2:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.event_body {
	position: absolute;
}

.column {
	width: 290px;
	/*margin-left: 12px;*/
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	/*background-color: #62ffb1;*/
}

.title {
	width: 930px;
 	font: 60pt/50pt 'PragmaticaM';
 	/*letter-spacing: 0px;*/
 	padding-left: 5px;
 	padding-top: 30px;
 	font-weight: bold;
/*	hyphens: auto;
	-webkit-hyphens: auto;*/
 	/*white-space: pre-wrap;*/
}

.s_title {
 	font: 26pt/28pt 'PragmaticaM';
 	/*letter-spacing: 0px;*/
 	padding-left: 10px;
 	padding-bottom: 20px;
 	padding-top: 30px;
 	font-weight: bold;
}

.description {
	clear: left;
	width: 910px;
 	font: 12pt/13pt 'Pragmatica';
 	/*letter-spacing: 0px;*/
	hyphens: auto;
	-webkit-hyphens: auto;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	padding-left: 10px;
 	padding-right: 10px;
	/*border: 1px solid black;*/
}

/*.ticket {
	width: 170px;
	height: 200px;
	float: right;
	background-color: #9ea13b;
	top: 720px;
	margin-left: 950px;
	position: relative;
}*/

.ticket {
	width: 160px;
	min-height: 60px;
	font: 11pt/11pt 'Pragmatica';
	float: right;
	padding: 5px;
	background-color: #c7ff09;
	position: relative;
}