.content_block {
	position: relative;
	width: 930px;
}

/*
 Poster
*/

.main_poster_block {
	width: 930px;
	height: 700px;
}

.main_poster_img {
	width: 930px;
	height: 620px;
	background-color: #e1ff95;
}

.main_poster_cal {
	width: 930px;
	height: 80px;
}
.cal_ticket {
	width: 20px;
	height: 80px;
	float: left;
	background-color: #232da7;
}
.cal_date {
	width: 300px;
	height: 80px;
	float: left;
	background-color: #a75c37;
}
.cal_time_hall {
	width: 110px;
	height: 80px;
	float: left;
	background-color: #57a743;
}
.cal_title {
	width: 500px;
	height: 80px;
	float: left;
	background-color: #38a79d;
}

.tag_navigator {
	width: 170px;
	height: 200px;
	float: right;
	background-color: #9ea13b;
	top: 720px;
	margin-left: 950px;
	position: relative;
}

.tag_item {
	cursor: pointer;
}


/*
	Infiniti
*/

.item_img {
	width: 300px;
}

.infinite-container {
	width:930px;
	overflow:hidden;
	position:relative;
	min-height: 850px;
}

.infinite-container div:nth-child(3n) {
	margin-right: 0px;
}

.infinite-item {
	float:left;
	width:300px;
	min-height:440px;
	background:#444a50;
	margin-top: 20px;
	margin-right: 15px;
}

.infinite-item:nth-child(3n) {
	background:#6a6272;
}
.infinite-item:nth-child(3n+1) {
	background:#eae2f2;
}

.loader {
	text-align: center;
}