@font-face {
	font-family: Pragmatica;
	src: url('/fonts/prg55.otf');
}

@font-face {
	font-family: PragmaticaM;
	src: url('/fonts/prg65.otf');
}

/*
	Main
*/

.maket {
	width: 1280px;
	margin: 0 auto;
	position: relative;
	/*border: 1px solid black;*/
}

.main_block {
	width: 1120px;
	margin: 0 auto;
	position: relative;
	border: 1px solid black;
	background-image: url('/images/gridinator.png');
}

.line_block {
	width: 360px;
	height: 10px;
	background-color: black;
}

/*
	Menu
*/

.menu_block {
	margin-top: 10px;
	width: 1120px;
	height: 30px;
	/*border: 1px solid black;*/
}

 .menu_item {
 	width: 158px;
 	height: 14px;
/* 	margin-top: 5px;*/
 	margin-right: 20px;
 	float: left;
 	color: white;
 	font: 12pt/10pt 'Pragmatica';
 	letter-spacing: 0px;
 	padding: 5px;
 	background-color: black;
 	border: 1px solid white;
 }

.menu_item_title {
	float: left;
}

.menu_item_arrow {
 	float: right;
 }

 .menu_drop {
 	width: 158px;
 	min-height: 60px;
 	/*margin-top: 12px;*/
 	margin-top: 19px;
 	margin-left: -6px;
 	background-color: black;
 	display: none;
 	text-decoration: none;
 	color: white;
 	font: 12pt/15pt 'Pragmatica';
 	letter-spacing:0px;
 	padding: 5px;
 	border: 1px solid white;
 }

 .menu_link:hover {
 		text-decoration: underline;
 }

 .menu_link {
 	color: white;
 	text-decoration: none;
 }

 .pay {
 	width: 158px;
 	height: 14px;
 	/*margin-top: 5px;*/
 	background-color: white;
 	border: 1px solid white;
 	margin-left: 0px;
 	float: left;
 	color: black;
 	font: 12pt/10pt 'Times';
 	letter-spacing:0px;
 	padding: 5px;
 }

 .locale {
 	width: 30px;
 	height: 14px;
 	/*margin-top: 5px;*/
 	margin-left: 20px;
 	margin-right: 20px;
 	float: left;
 	background-color: black;
 	border: 1px solid white;
 	cursor: pointer;
 	color: white;
 	font: 11pt/10pt 'Pragmatica';
 	letter-spacing:0px;
 	padding: 5px;
 }

.search {
	width: 170px;
	white-space: 25px;
	margin-left: 55px;
	margin-top: -0.5px;
	float: left;
	display: block;
 	font: 12pt/10pt 'Pragmatica';
 	letter-spacing: 0px;
 	padding: 1px;
 	border: 1px solid black;
}

 .search_submit {
 	width: 50px;
 	height: 14px;
 	float: left ;
 	/*margin-top: 5px;*/
 	margin-left: 5px;
 	background-color: black;
 	cursor: pointer;
 	font: 12pt/10pt 'Pragmatica';
 	letter-spacing:1px;
 	border: 1px solid white;
 	color: white;
 	font: 11pt/10pt 'Pragmatica';
 	letter-spacing:0px;
 	padding: 5px;
 }

 /*
	Head title
 */

 .head_title_block {
	width: 1120px;
	height: 130px;
	margin-bottom: 20px;
	background-color: #88413d;  /*Head Poster*/
 }

 .head_logo {
 	width: 170px;
 	height: 130px;
 	margin-left: 380px;
 	border: 1px solid black;
 }

 .footer_block {
	width: 930px;
	height: 120px;
	margin-top: 20px;
	background-color: #583786;
}

