*::-webkit-input-placeholder {
    color: white;
}

*::-moz-placeholder {
    color: white;
}

/*.background_block {
	display: none;
}

.main_block {
	background-image: url(/images/gridinator.png);
}*/

.content_block {
	/*background-color: #976857;*/
	background-color: black;
	color: white;
	width: 930px;
	font: 11pt/13pt 'Pragmatica';
	min-height: 650px;
	/*padding-left: 5px;*/
	/*padding-right: 10px;*/
	padding-bottom: 10px;
	overflow: hidden;
}

.member_search_title {
	font: 26pt/28pt 'PragmaticaM';
	float: left;
	margin-top: 7px;
	margin-left: 10px;
}

.member_search {
	font: 26pt/28pt 'PragmaticaM';
	background: none;
	outline: none;
	border: 0;
	width: 770px;
	color: white;
}

.title {
	font: 56pt/72pt 'PragmaticaM';
	margin-left: 7px;
}

.categorys {
	margin-left: 7px;
	margin-top: 10px;
	margin-bottom: 30px;
	overflow: hidden;
}

.category {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.category.active {
	background-color: white;
	color: black;
}

.category:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.c_title {
	padding-left: 5px;
	margin-bottom: 10px;
}

.member {
	display: block;
	color: white;
	font: 10pt/13pt 'PragmaticaM';
	padding-left: 5px;
}

.member:hover {
	text-decoration: none;
	color: black;
	background-color: white;
}

.members_group {
	overflow: hidden;
	margin-bottom: 30px;
}

.members_group:last-child {
	margin-bottom: 0px;
}

.members_column {
	float: left;
	width: 169px;
	/*background-color: #6f77d2;*/
	background-color: black;
	margin-right: 20px;
	border-left: 1px solid white;

	/*max-height: 300px;*/
	overflow: hidden;
}

.members_column:first-child {
	width: 165px;
	margin-left: 5px;
	margin-right: 20px;
	border-left: 0px;
}

.members_column:nth-child(5n) {
	margin-right: 0px;
}