*::-webkit-input-placeholder {
    color: white;
}

*::-moz-placeholder {
    color: white;
}

.content_block {
	/*background-color: #976857;*/
	background-color: black;
	color: white;
	width: 920px;
	font: 11pt/13pt 'Pragmatica';
	min-height: 650px;
	/*padding-left: 5px;*/
	padding-right: 10px;
}

.member_search_title {
	font: 56pt/72pt 'PragmaticaM';
	float: left;
	margin-top: 5px;
	margin-left: 5px;
}

.member_search {
	font: 56pt/72pt 'PragmaticaM';
	background-color: black;
	outline: none;
	width: 600px;
	color: white;
}

.title {
	font: 26pt/28pt 'PragmaticaM';
	margin-left: 5px;
}

.c_title {
	padding-left: 10px;
}

.member {
	display: block;
	color: white;
	font: 11pt/13pt 'PragmaticaM';
	padding-left: 10px;
}

.member:hover {
	text-decoration: none;
}

.members_group {
	overflow: hidden;
	margin-bottom: 30px;
}

.members_group:last-child {
	margin-bottom: 0px;
}

.members_column {
	float: left;
	width: 215px;
	/*background-color: #6f77d2;*/
	background-color: black;
	margin-right: 20px;
}

.members_column:nth-child(4n) {
	margin-right: 0px;
}