.content_block {
	background-color: white;
	width: 930px;
	min-height: 400px;
}

img {
	width: 930px;
	height: 620px;
}

.title {
	width: 930px;
 	font: 56pt/51pt 'PragmaticaM';
 	/*letter-spacing: 0px;*/
 	padding-top: 20px;
 	padding-left: 5px;
 	font-weight: bold;
/*	hyphens: auto;
	-webkit-hyphens: auto;*/
 	/*white-space: nowrap;*/
}

.s_title {
 	font: 26pt/28pt 'PragmaticaM';
 	/*letter-spacing: 0px;*/
 	padding-left: 10px;
 	padding-bottom: 20px;
 	padding-top: 10px;
 	font-weight: bold;
}

.description {
	clear: left;
	width: 910px;
 	font: 12pt/13pt 'Pragmatica';
	hyphens: auto;
	-webkit-hyphens: auto;
 	padding-top: 20px;
 	padding-bottom: 20px;
 	padding-left: 10px;
 	padding-right: 10px;
	/*border: 1px solid black;*/
}