.content_block {
	height: auto;
	padding-bottom: 0;
}

.calendar {
	font-size: 20.5px;
	background-color: black;
}

.schedule_title {
	font-size: 16pt;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.new_event {
	display: none;
	margin-left: 8px
}

.event {
	margin-bottom: 10px;
}

.event_title {
	font-size: 11pt;
	margin-left: 10px;
}

.event_options {
	display: none;
	margin-left: 8px;
}

.event_add {
	margin-left: 10px;
	margin-bottom: 10px;
}

button {
	font-size: 10pt;
}

.connect_banner {
	position: absolute;
	right: 20px;
	background-color: yellow;
	padding: 5px;
	text-align: center;
	display: none;
}

.schedule_nav {
	background-color: black;
	border-bottom: 1px solid white;
	padding: 5px 10px 5px 10px;
}

.schedule_nav div, a {
	color: white;
}

.schedule_now {
	float: right;
	cursor: pointer;
}

.schedule_now:hover {
	color: #88c5eb;
}