ol, ul {
	padding: 0;
	margin-top: 5px;
	margin-left: 10px;
}

li {
	padding-top: 3px;
	list-style-type: none;
}

p {
	margin: 0;
}

small {
	margin-left: 3px;
}

.content_block {
	width: 720px;
	margin-left: 190px;
	min-height: 550px;
	background-color: white;
	padding: 10px;
}

.right_block {
	float: right;
	font: 10pt/12pt 'Pragmatica';
}

.left_block {
	width: 170px;
	min-height: 50px;
	float: left;
	color: white;
	background-color: black;
}

.content_navigator {
	padding: 10px;
	font: 10pt/12pt 'Pragmatica';
	font-weight: bold;
	/*letter-spacing: 1px;*/
}

.title {
	font: 20pt/20pt 'PragmaticaM';
	margin-top: 5px;
	letter-spacing: 0px;
	font-weight: bold;
}

.s_title {
	font: 14pt/15pt 'Pragmatica';
	letter-spacing: 0px;
	font-weight: bold;
	padding-top: 10px;
}

.description {
	font: 11pt/12pt 'Pragmatica';
	letter-spacing: 0px;
	hyphens: auto;
	-webkit-hyphens: auto;
}

.under_block {
	width: 720px;
	margin-left: 190px;
	background-color: black;
	font: 10pt/13pt 'Pragmatica';
	color: white;
	padding: 10px;
	text-align: center;
}

.under_block a {
	color: white;
}

.content {
	display: none;
}

.section {
	margin-bottom: 15px;
}
.section:last-child {
	margin-bottom: 0px;
}

.nav_item {
	cursor: pointer;
}

.nav_item:hover {
	text-decoration: underline;
}

.r_item {
	display: none;
	width: 150px;
	min-height: 30px;
	padding: 10px;
	background-color: white;
}

#map-canvas {
	width: 720px;
	height: 350px;
	margin: 0px;
	padding: 0px
}