.dropzone {
	width: 450px;
	height: 350px;
	background-color: #66c96a;
	float: left;
}

.scale {
	width: 0%;
	background-color: #43a2c9;
	height: 20px;
}

.photo {
	width: 150px;
	height: 150px;
	background-color: black;
	background-size: cover;
	display: block;
	float: left;
	-webkit-user-select: none;
}