extends ../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add_member.css')

block content_scripts
	script(type='text/javascript', src='/scripts/add_member.js')

block content_right


block content
	h2 Добавить участника
	form(action="/auth/add/member", method="post", enctype="multipart/form-data")
		.form_title Имя:
		input.ru(type="text", name="ru[name]",)
		input.en(type="text", name="en[name]", disabled)
		.form_title Описание:
		textarea.ru(name="ru[description]", rows="8",)
		textarea.en(name="en[description]", rows="8", disabled)
		.form_title Статус:
		select(name='status')
			option(value='actor') Актер
			option(value='director') Режисер
			option(value='choreographer') Хореограф			
			option(value='curator') Куратор
			option(value='photographer') Фотограф
			option(value='artist') Художник
			option(value='producer') Продюссер
			option(value='art_director') Художественный руководитель
		.form_title Фото:
		input(type="file", name="img")
		br
		br
		input(type="submit", value="Добавить")